services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_INTERNAL_PORT}"
    networks:
      - app_network

  redis:
    image: redis:7
    ports:
      - "${REDIS_PORT}:${REDIS_INTERNAL_PORT}"
    networks:
      - app_network

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "${BACKEND_PORT}:${BACKEND_INTERNAL_PORT}"
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=${DB_INTERNAL_PORT}
      - REDIS_HOST=redis
      - REDIS_PORT=${REDIS_INTERNAL_PORT}
    depends_on:
      - db
      - redis
    networks:
      - app_network

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_INTERNAL_PORT}"
    env_file:
      - .env
    environment:
      - BACKEND_URL=http://backend:${BACKEND_INTERNAL_PORT}
      - REDIS_LOCATION=redis://redis:${REDIS_INTERNAL_PORT}/1
    depends_on:
      - backend
      - redis
    networks:
      - app_network

volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge
